In [2]:
#maximum numbers in dic 
exam_scores1= {
    "Alice": 92,
    "Bob": 85,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}

maxi=max(exam_scores1,key=exam_scores1.get)
print(maxi)
print(exam_scores1[maxi])

David
95

In [3]:
l=[8,0,9,90]
m=l[0]
for i in l:
    if m<=i:
        m=i

print(m)

90

In [4]:
#maximum number without using keyword

exam_scores1= {"Alice": 92,"Bob": 85,"Charlie": 78,"David": 95,"Eve": 88}

key1=""
value1=0
output={}

for i in exam_scores1.values():
    value1=i
    break

for i,j in exam_scores1.items():
    if value1<=j:
        value1=j
        key1=i
output[key1]=value1       
output

{'David': 95}

In [5]:
#minimum number without using keyword

exam_scores1= {
    "Alice": 92,
    "Bob": 85,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}

key1=""
value1=0
output={}

for i in exam_scores1.values():
    value1=i
    break

for i,j in exam_scores1.items():
    if value1>=j:
        value1=j
        key1=i
output[key1]=value1       
output

{'David': 95}

In [4]:
#desending 
exam_scores = {
    "Alice": 92,
    "Bob": 85,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}
ne={}
for i in range(len(exam_scores)):
    maxi=max(exam_scores,key=exam_scores.get)
    ne[maxi]=exam_scores[maxi]
    del exam_scores[maxi]
print(ne)

{'David': 95, 'Alice': 92, 'Eve': 88, 'Bob': 85, 'Charlie': 78}

In [5]:
#asending 
exam_scores = {
    "Alice": 92,
    "Bob": 85,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}
ne={}
for i in range(len(exam_scores)):
    maxi=min(exam_scores,key=exam_scores.get)
    ne[maxi]=exam_scores[maxi]
    del exam_scores[maxi]
print(ne)

{'Charlie': 78, 'Bob': 85, 'Eve': 88, 'Alice': 92, 'David': 95}

In [1]:
#count the duplictae value

l=[1,22,2,2,2,3,45,45,78,1]
new={}
for i in l:
    print(i)
    if i not in new:
        new[i]=1
    else:
        new[i]=new[i]+1
        
        
print(new)

1
22
2
2
2
3
45
45
78
1
{1: 2, 22: 1, 2: 3, 3: 1, 45: 2, 78: 1}

In [11]:
#merging 2 dict

a = {
    "Alice": 92,
    "Bob": 85,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}
b = {
    "raja": 92,
    "mani": 85,
    "siva": 78,

}

c={"kutty":34,
  "guna":23}


a.update(b)
merged_dict = {**a, **b,**c}

print(a)
print(merged_dict)

{'Alice': 92, 'Bob': 85, 'Charlie': 78, 'David': 95, 'Eve': 88, 'raja': 92, 'mani': 85, 'siva': 78}
{'Alice': 92, 'Bob': 85, 'Charlie': 78, 'David': 95, 'Eve': 88, 'raja': 92, 'mani': 85, 'siva': 78, 'kutty': 34, 'guna': 23}

In [ ]:
#print the highest value using thershold price


product_prices = {
    'product1': 25.99,
    'product2': 14.50,
    'product3': 9.9,
    'product4': 34.75,
    'product5': 19.99
}
out={}

threshold_price = 20.00
for key,values in product_prices.items():
    if values>threshold_price:
        out[key]=values
print(out)

In [10]:
#count the string value 

text = "This is a sample text. This text contains some sample words. Sample text for counting words."
text=text.split()
new={}


for i in text:
    if i in new:
        new[i]=new[i]+1
    else:        
        new[i]=1
print(new)

{'This': 2, 'is': 1, 'a': 1, 'sample': 2, 'text.': 1, 'text': 2, 'contains': 1, 'some': 1, 'words.': 2, 'Sample': 1, 'for': 1, 'counting': 1}

In [2]:

#anagram code
word1 = "cinema"
word = "icnema"
word=word.lower()
l1=sorted(word)
word1=word1.lower()
l2=sorted(word1)
print(l1)
print(l2)
if l1==l2:
    print("its anagram")
else:
    print("no")

['a', 'c', 'e', 'i', 'm', 'n']
['a', 'c', 'e', 'i', 'm', 'n']
its anagram

In [ ]:
#anagram using string


import string
def are_anagrams(word1, word2):
    w1=''.join(word1.split())
    w2=''.join(word2.split())
    translator = str.maketrans( '','', string.punctuation)
    r1 = w1.translate(translator)
    r2 = w2.translate(translator)
    r1=r1.lower()
    r2=r2.lower()
    r1=sorted(r1)
    r2=sorted(r2)
    if r1 == r2:
        print("its anagram")
    else:
        print("not a anagram")
        
are_anagrams("Astronomer", "Moon starer")

In [8]:
#ASCENDING

numbers = [100, 45, 67, 78, 5,98,56]
for i in  range (len(numbers)):
    for  j in range(len(numbers)):
        #print(numbers[i],numbers[j])
        #print(numbers)
        if numbers[i]<numbers[j]:
            numbers[i],numbers[j]= numbers[j],numbers[i]
print(numbers)

[100, 45, 67, 78, 5, 98, 56]
[100, 45, 67, 78, 5, 98, 56]
[100, 45, 67, 78, 5, 98, 56]
[100, 45, 67, 78, 5, 98, 56]
[100, 45, 67, 78, 5, 98, 56]
[100, 45, 67, 78, 5, 98, 56]
[100, 45, 67, 78, 5, 98, 56]
[100, 45, 67, 78, 5, 98, 56]
[45, 100, 67, 78, 5, 98, 56]
[45, 100, 67, 78, 5, 98, 56]
[45, 100, 67, 78, 5, 98, 56]
[45, 100, 67, 78, 5, 98, 56]
[45, 100, 67, 78, 5, 98, 56]
[45, 100, 67, 78, 5, 98, 56]
[45, 100, 67, 78, 5, 98, 56]
[45, 100, 67, 78, 5, 98, 56]
[45, 67, 100, 78, 5, 98, 56]
[45, 67, 100, 78, 5, 98, 56]
[45, 67, 100, 78, 5, 98, 56]
[45, 67, 100, 78, 5, 98, 56]
[45, 67, 100, 78, 5, 98, 56]
[45, 67, 100, 78, 5, 98, 56]
[45, 67, 100, 78, 5, 98, 56]
[45, 67, 100, 78, 5, 98, 56]
[45, 67, 78, 100, 5, 98, 56]
[45, 67, 78, 100, 5, 98, 56]
[45, 67, 78, 100, 5, 98, 56]
[45, 67, 78, 100, 5, 98, 56]
[45, 67, 78, 100, 5, 98, 56]
[5, 67, 78, 100, 45, 98, 56]
[5, 45, 78, 100, 67, 98, 56]
[5, 45, 67, 100, 78, 98, 56]
[5, 45, 67, 78, 100, 98, 56]
[5, 45, 67, 78, 100, 98, 56]
[5, 45, 67, 78, 100, 98, 56]
[5, 45, 67, 78, 100, 98, 56]
[5, 45, 67, 78, 100, 98, 56]
[5, 45, 67, 78, 100, 98, 56]
[5, 45, 67, 78, 100, 98, 56]
[5, 45, 67, 78, 100, 98, 56]
[5, 45, 67, 78, 98, 100, 56]
[5, 45, 67, 78, 98, 100, 56]
[5, 45, 67, 78, 98, 100, 56]
[5, 45, 67, 78, 98, 100, 56]
[5, 45, 67, 78, 98, 100, 56]
[5, 45, 56, 78, 98, 100, 67]
[5, 45, 56, 67, 98, 100, 78]
[5, 45, 56, 67, 78, 100, 98]
[5, 45, 56, 67, 78, 98, 100]
[5, 45, 56, 67, 78, 98, 100]

In [7]:
#DSCENDING

numbers = [1, 2, 3, 4, 5,98,56]
for i in  range (len(numbers)):
    for  j in range(len(numbers)):
        if numbers[i]>numbers[j]:
            numbers[i],numbers[j]= numbers[j],numbers[i]
print(numbers)

[98, 56, 5, 4, 3, 2, 1]

In [2]:
#fibonacci series

a=0
b=1
c=[]
n=int(input("enter the number"))
while a<=n:
    d=a+b
    c.append(a)
    a,b=b,d
print(c)

enter the number 10

[0, 1, 1, 2, 3, 5, 8]

In [3]:
#replace integer value

a = 102301
a_str = str(a)  
a_str_modified = a_str.replace('0', '1')  
result = int(a_str_modified)  
print(result)

112311

In [ ]:
import sqlite3

# Dictionary containing item details
items = {
    'tomato': [5, 'kg', 150, 'rupees'],
    'onion': [3, 'kg', 150, 'rupees']
}

# Mobile numbe
table_name =customer_id_"908031223"

# Create a SQLite database connection
conn = sqlite3.connect('items.db')

# Create a cursor object
cursor = conn.cursor()

# Create a table (if not exists)
cursor.execute("CREATE TABLE IF NOT EXISTS {} (item TEXT, quantity INTEGER, unit TEXT, price INTEGER, currency TEXT)".format(table_name))
# Insert data into the table
for item, details in items.items():
    cursor.execute(f"INSERT INTO {table_name} (item, quantity, unit, price, currency) VALUES (?, ?, ?, ?, ?)",
                   (item, details[0], details[1], details[2], details[3]))

# Commit changes
conn.commit()

# Close connection
conn.close()

In [11]:
k="uiol2m"
k = k[:-1] + k[-1].upper()  # Capitalize the last character
print(k)

uiol2M

In [8]:
k="787jkm"
k.upper()

'787JKM'

In [ ]:
#count the duplictae value

l=[1,22,2,2,2,3,45,45,78,1]
new={}
for i in l:
    if i not in new:
        new[i]=1
    else:
        new[i]=new[i]+1
        
        
print(new)

In [1]:
#odd or even
even=[]
odd=[]
for i  in range(1,101):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
#max min

f=[1,3,4,5,112,3,4,5]
max_num=f[0]
min_num=f[0]
for i in f:
    if i<max_num:
        max_num=i
    if i>min_num:
        min_num=i
print(min_num,"min_num")
print(max_num,"max_num")

In [ ]:
#descending
f=[1,3,4,5,11278,44,66,90,1]
for i in range(len(f)):
    for j in range(len(f)):
        if f[i]>f[j]:
            f[i],f[j]=f[j],f[i]
print(f)

In [ ]:
#ascending

f=[1,3,4,5,11278,44,66,90,1]
for i in range(len(f)):
    for j in range(len(f)):
        if f[i]<f[j]:
            f[i],f[j]=f[j],f[i]
print(f)

In [3]:
#patter based

pattern = "abba"
s = "dog cat cat dog"
words = s.split()
if len(words)==len(pattern):
    if len(set(words))==len(set(pattern)):
        paired = list(zip(pattern, words))
        if len(set(pattern))==len(set(paired)):
            print("true")
        else:
            print("false")
    else:
        print("false")

true

In [ ]:
import pandas as pd

k=[[1,4],[2,5],[3,7],[4, 20]]

data=pd.DataFrame(k,columns=["studentId","age"])
print(data)

In [2]:
# drop duplicactes by using pandas


import pandas as pd

# Sample DataFrame
data = {
    'mail': ['a@example.com', 'b@example.com', 'a@example.com', 'c@example.com', 'd@example.com', 'b@example.com']
}
df = pd.DataFrame(data)
filter1 = df.drop_duplicates("mail")

print(filter1)

            mail
0  a@example.com
1  b@example.com
3  c@example.com
4  d@example.com

In [7]:
#roman letters

d = {"I": 1, "V": 5, "X": 10, "L": 50, "C": 100, "D": 500, "M": 1000}
c = "MCMXCIV"
output = 0
prev_value = 0

for char in c:
    current_value = d[char]
    if current_value > prev_value:
        output += current_value - 2 * prev_value
    else:
        output += current_value
    prev_value = current_value

print(output)

1994

In [2]:
#find the len of list
k=[2,3,4,5,6,7]
n=5
for i in range(len(k)):
    if k[i]==n:
        print(i)

3

In [4]:
#remove duplicate

k1=[1,2,3,1,2,3]
l=[]
for i in k1:
    if i not in l:
        l.append(i)
print(l)

[1, 2, 3]

In [2]:
l1=[35,78.33,77,90,55]
l2=[35,7.2,77,4,55,6]
l3=[]
for i in l1:
    if i in l2:
        l3.append(i)
print(l3)

[35, 77, 55]

In [3]:
l1 = [35, 78.33, 77, 90, 55]
l2 = [35, 7.2, 77, 4, 55, 6]

common_values = list(set(l1) & set(l2))
print(common_values)

[35, 77, 55]

In [6]:
list1=[1,2,3,4]
list2=[23,6,78,90]
print(list(zip(list1,list2)))

[(1, 23), (2, 6), (3, 78), (4, 90)]

In [13]:
n=6
for i in range(n):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [27]:
n = 6  

for i in range(1, n + 1):
    # print(i)
    print(" " * (n - i), end="")  
    print("* " * i)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [23]:
n = 6  

for i in range(1, n + 1):
    # print(i)
    print(" " * i, end="")  
    print("* " * n-i))

 * * * * *
  * * * *
   * * *
    * *
     *